.env
__pycache__/
*.pyc
.venv/
venv/
data/*.csv
data/README.md
*.log
.DS_Store
outputs/*.log
outputs/dev_cases_fakellm/
graph/embeddings_cache/
.streamlit/secrets.toml
graph/tfidf_vectorizer.pkl
.venv_broken/
=*
.venv_broken
test_tg_connection.py
test_gemini_connection.py
